.social-login
    button.social-login--github
        a(href= routes.github)
            span
                i.fab.fa-github 
            |Continue with Github
    button.social-login--facebook
<<<<<<< HEAD
        a(href=routes.facebook)
            span
                i.fab.fa-facebook 
            |Continue with Facebook
    button.social-login--kakaotalk
        a(href=routes.kakaotalk)
            span
                i.fab.fa-facebook 
            |Continue with Kakaotalk
=======
        span
            i.fab.fa-facebook 
        |Continue with Facebook
     button.social-login--kakaotalk
        span
            i.fab.fa-facebook 
        |Continue with Kakaotalk
>>>>>>> c39c480fc514d388b6ed570473c3f213b351da86
