extends layouts/main
include mixins/videoBlock

<<<<<<< HEAD
block content
    .home-videos
        each item in videos
            +videoBlock({
                id:item.id,
                title:item.title,
=======
 block content
     .home-videos
         each item in videos

             +videoBlock({
                 id:item.id,
                 title:item.title,
                 views:item.views,
                 videoFile:item.fileUrl
             })
             +videoBlock({
                 id:item.id,
                 title:item.title,
                 views:item.views,
                 videoFile:item.fileUrl
             })
             +videoBlock({
                 id:item.id,
                 title:item.title,
                 views:item.views,
                 videoFile:item.fileUrl
             })
             +videoBlock({
                 id:item.id,
                 title:item.title,
                 views:item.views,
                 videoFile:item.fileUrl
             })
             +videoBlock({
                 id:item.id,
                 title:item.title,
                 views:item.views,
                 videoFile:item.fileUrl
             })
             +videoBlock({
                 id:item.id,
                 title:item.title,
                 views:item.views,
                 videoFile:item.fileUrl
             })
             +videoBlock({
                 id:item.id,
                 title:item.title,
                 views:item.views,
                 videoFile:item.fileUrl
             })
             +videoBlock({
                 id:item.id,
                 title:item.title,
                 views:item.views,
                 videoFile:item.fileUrl
             })
             +videoBlock({
                 id:item.id,
                 title:item.title,
                 views:item.views,
                 videoFile:item.fileUrl
             })
             +videoBlock({
                 id:item.id,
                 title:item.title,
                 views:item.views,
                 videoFile:item.fileUrl
             })
             +videoBlock({
                 id:item.id,
                 title:item.title,
                 views:item.views,
                 videoFile:item.fileUrl
             })
             +videoBlock({
                 id:item.id,
                 title:item.title,
>>>>>>> c39c480fc514d388b6ed570473c3f213b351da86
                views:item.views,
                videoFile:item.fileUrl
            })